#sidebar {
  width: 270px;
  height: 100%;
  position: fixed;
  background: #424a5d;
}
#sidebar h5 {
	color: #f2f2f2;
	font-weight: 700;
}
ul.sidebar-menu {
  margin-top: 75px;
}
#main-content {
  margin-left: 270px;
}



#chat_div {
	width: calc(100%-5px);
	position:absolute; right:0px; bottom:0px;
	font-size: 1.1em;
	margin: 15px;
	padding: 30px;
	visibility: hidden;
	overflow-y: scroll;
	word-wrap: break-word;
	position: relative;
}
/*Chat message bubble container*/
.chatMessage {
	margin-top: 3px;
}
.selfMessage {
	text-align: right;
}
/*All chat message bubbles*/
.chatMessage > div {
	display: inline-block;
	max-width: calc(100% - 30px);
	border: 1px solid rgba(145,145,145,0.8);
	border-radius: 2px;
}
/*Self chat message bubbles*/
.selfMessage > div {
	background-color: rgba(178,229,255,0.6);
}
/*Remote chat message bubbles*/
.remoteMessage > div {
	background-color: rgba(226,226,226,0.6);
}
#chat_but {
	position: relative;
	visibility: hidden;
}


video {
	padding: 10px;
	border-radius: 1em 1em 1em 1em;
	vertical-align: top;
	visibility: hidden;
}
#audio-only-container {
	visibility: hidden;
	color: red;
}
#share-container {
	visibility: hidden;
	padding-top: 5px;
}
#video-container {
	text-align: center;
}
#self_view {
	width: 100%;
	height: 200px;
	margin-right: 2em;
}
#remote_view {
	width: 640px;
	height: 480px;
}

/*
@media screen and (max-width : 768px) {
	h2 {
		margin-top: 0.3em;
		font-size: 1.8em;
		width: 400px;
	}
	#self_view {
		margin-bottom: 0.8em;
		margin: 0.4em 0em;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}
@media screen and (max-width : 414px) {
	h2 {
		margin-top: 0.3em;
		font-size: 1.2em;
		width: 260px;
	}

	input[type="text"] {
		width: 120px;
	}

	section {
		margin: 0em;
		padding: 0em;
		min-height: 500px;
		height: 100%;
	}

	#self_view {
		margin-bottom: 0.8em;
		margin: 0.4em 0em;
		transition: transform 0.5s;
		-webkit-transition: -webkit-transform 500ms;
	}

	#remote_view {
		width: 320px;
		height: 280px;
		transition: transform 0.5s;
		-webkit-transition: -webkit-transform 500ms;
	}
}
@media screen and (max-width : 320px) {
	h2 {
		margin-top: -0.3em;
		font-size: 1.1em;
		width: 200px;
	}

	input[type="text"] {
		width: 100px;
	}

	section {
		margin: 0em;
		padding: 0em;
		min-height: 600px;
		height: 100%;
	}

	#self_view {
		width: 160px;
		height: 120px;
		margin: 0.4em 0em;
		transition: transform 0.5s;
		-webkit-transition: -webkit-transform 500ms;
	}
	#remote_view {
		width: 320px;
		height: 280px;
		transition: transform 0.5s;
		-webkit-transition: -webkit-transform 500ms;
	}

	#share-container {
		display: none;
	}
}
*/