<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="CareerMapper">
 	
 	
	<resultMap id="careerSelectMap" type="career">
		<result property="careerNo" 			column="career_no" 			jdbcType="NUMERIC"/>
		<result property="careerUserId"			column="career_user_id" 	jdbcType="VARCHAR" />
		<result property="techNo" 				column="career_tech_no" 	jdbcType="NUMERIC" />
		<result property="careerUseTerm" 		column="career_use_month"	jdbcType="NUMERIC" />
		<result property="techName" 			column="tech_name"			jdbcType="VARCHAR" />
		<result property="techClass" 			column="tech_class"			jdbcType="NUMERIC" />
		</resultMap>
	
	
	
	<insert 	id="addCareer"		parameterType="career" >
		INSERT
		INTO career
		VALUES (seq_career_no.nextval,
				#{careerUserId:VARCHAR},
				#{techNo:NUMERIC},
				#{careerUseTerm:NUMERIC})
	 </insert>
	 
	 <select  id="getListCareer"  parameterType="String"	resultMap="careerSelectMap">
			SELECT c.career_tech_no , c.career_use_month , c.career_no , c.career_user_id, t.tech_class
             FROM career c ,tech t
             WHERE c.career_user_id=#{careerUserId} AND t.tech_no= c.career_tech_no 

          
	 </select>
	 
	  <select  id="getCareer"  parameterType="map"	resultMap="careerSelectMap">
			SELECT c.career_tech_no , c.career_use_month,t.tech_class
             FROM career c ,tech t
             WHERE c.career_no=#{careerNo} AND t.tech_no= c.career_tech_no AND t.tech_class=#{techClass}
	 </select>
	 
	 <select  id="getListTechClass"	resultMap="careerSelectMap">
			SELECT tech_class 
			FROM tech
			GROUP BY tech_class
	 </select>

	<delete id="deleteCareer" parameterType="int">
	 	DELETE
	 	FROM career WHERE career_no=#{careerNo} 
	 </delete>
	 
	
</mapper>		
		