<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommentMapper">
 	
	 <resultMap id="commentSelectMap" type="comment">
		<result property="comNo" 			column="com_no" 			jdbcType="INTEGER"/>
		<result property="comProjNo" 	column="com_proj_no" 		jdbcType="INTEGER" />
		<result property="comUserId" 	column="com_user_id" 		jdbcType="VARCHAR" />
		<result property="comRegdate" 	column="com_proj_regdate" 		jdbcType="DATE" />
		<result property="comContent" 	column="com_proj_content" 	jdbcType="VARCHAR" />
		
	</resultMap>
	 
	 <insert 	id="addComment"		parameterType="comment" >
	 	INSERT INTO 
	 	proj_comment( com_no , com_proj_no , com_user_id , com_proj_regdate , com_proj_content) 
		VALUES	 (	seq_proj_comment_com_no.nextVal, #{comProjNo:INTEGER} , #{comUserId:VARCHAR} , SYSDATE , #{comContent:VARCHAR})
		
	 </insert>
	 
	 <select  id="getComment"  parameterType="int"	resultMap="commentSelectMap">
  		SELECT c.com_no , c.com_proj_no , c.com_user_id , c.com_proj_regdate , c.com_proj_content
		FROM proj_comment c, project p, users u
		WHERE c.com_proj_no=#{value} 
		AND p.proj_no = c.com_proj_no 
		AND u.user_id=c.com_user_id
		AND rownum = 1
	</select>
	 
	 

	 <delete id="deleteComment" parameterType="comment">
		DELETE from proj_comment
		where com_no = #{value}
	 </delete>
	 
	 
	<!-- <select  id="listComment"  parameterType="map"	resultMap="commentSelectMap">
  		SELECT c.com_no , c.com_prod_no , c.com_user_id , c.com_prod_regdate , c.com_prod_content
		FROM product_comment c, product p, users u
		WHERE c.com_user_id=#{comUserId.userId:VARCHAR}
		AND u.user_id = c.com_user_id(+)
		AND p.prod_no = c.com_prod_no
	</select> -->
	

	 	 
</mapper>