<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="LetterMapper">
 	
 	
	<resultMap id="letterSelectMap" type="letter">
		<result property="letNo" 		column="let_no" 			jdbcType="NUMERIC"/>
		<result property="sendId"		column="let_send_id" 		jdbcType="VARCHAR" />
		<result property="receiveId" 	column="let_receive_id" 	jdbcType="VARCHAR" />
		<result property="letDetail" 	column="let_detail" 		jdbcType="VARCHAR" />
		<result property="letRegdate" 	column="let_regdate" 		jdbcType="DATE" />
		<result property="letReaddate" 	column="let_readdate" 		jdbcType="DATE" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addLetter"		parameterType="letter" >
		INSERT
		INTO letter
		VALUES (seq_let_no.nextval,
				#{sendId},
				#{receiveId},
				#{letDetail},
				SYSDATE,
				#{letReaddate:DATE})
	 </insert>
	 
	
</mapper>		
		