<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PortfolioMapper">
 	
 	
	<resultMap id="portfolioSelectMap" type="portfolio">
		<result property="portNo" 			column="port_no" 				jdbcType="NUMERIC"/>
		<result property="portUserId"		column="port_user_id" 			jdbcType="VARCHAR" />
		<result property="portUserImg"		column="user_img" 				jdbcType="VARCHAR" />
		<result property="portDivision" 	column="port_division" 			jdbcType="NUMERIC" />
		<result property="portTitle" 		column="port_title" 			jdbcType="VARCHAR" />
		<result property="portRegdate" 		column="port_regdate" 			jdbcType="DATE" />
		<result property="portUpdate" 		column="port_update" 			jdbcType="DATE" />
		<result property="portFile" 		column="port_file" 				jdbcType="VARCHAR" />
		<result property="portDetail" 		column="port_detail" 			jdbcType="VARCHAR"  />
		<result property="totalPortView" 	column="port_viewcount" 		jdbcType="NUMERIC" />
		<result property="totalPortLike" 	column="port_like_count" 		jdbcType="NUMERIC" />
		<result property="totalPortComment" column="port_com_count" 		jdbcType="NUMERIC" />
		<result property="portLikeNo" 		column="port_like_no" 			jdbcType="NUMERIC" />
		<result property="scrapUserId"		column="user_id"				jdbcType="VARCHAR"/>
		<result property="scrapNo"			column="scrap_no"				jdbcType="NUMERIC"/>
		<result property="endRowNum"		column="row_seq"				jdbcType="NUMERIC"/>
	</resultMap>
	
	 <resultMap id="commentSelectMap" type="portComment">
		<result property="comNo" 			column="com_no" 				jdbcType="INTEGER"/>
		<result property="comPortNo" 		column="com_port_no" 			jdbcType="INTEGER" />
		<result property="comUserId" 		column="com_user_id" 			jdbcType="VARCHAR" />
		<result property="comUserImg" 		column="user_img" 				jdbcType="VARCHAR" />
		<result property="comRegDate" 		column="com_port_regdate" 		jdbcType="DATE" />
		<result property="comContent" 		column="com_port_content" 		jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="portLikeMap" type="portLike">
		<result property="portLikeNo" 		column="port_like-no" 			jdbcType="INTEGER"/>
		<result property="portNo" 			column="port_no" 				jdbcType="INTEGER" />
		<result property="userId" 			column="user_id" 				jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="portImagesMap" type="portImages">
		<result property="imgPortNo" 		column="img_port_no" 			jdbcType="INTEGER"/>
		<result property="imgNo" 			column="img_no" 				jdbcType="INTEGER" />
		<result property="imgName" 			column="img_name" 				jdbcType="VARCHAR" />
		<result property="imgOrder" 		column="img_order" 				jdbcType="INTEGER" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addPortfolio"		parameterType="portfolio" >
	 	INSERT 
		INTO portfolio ( port_no, port_user_id, port_division, port_title, port_regdate, port_file, port_detail) 
		VALUES ( seq_portfolio_port_no.nextval, 
		#{portUserId}, 
		#{portDivision}, 
		#{portTitle}, 
		SYSDATE, 
		#{portFile}, 
		#{portDetail})
		
		<selectKey keyProperty="portNo" resultType="Integer" order="AFTER">
        SELECT seq_portfolio_port_no.currval FROM dual
    	</selectKey>
	 </insert>
	 
	<!-- SQL : INSERT -->
	<insert 	id="addPortImages"		parameterType="list" >
		INSERT INTO port_images(img_no, img_port_no, img_name, img_order)
			SELECT seq_port_images_img_no.nextval, (select MAX(port_no) from portfolio), inner_view.*
			FROM (
				<foreach collection="list" item="portImages" separator="UNION ALL">
				SELECT #{portImages.imgName},#{portImages.imgOrder}
				FROM DUAL
				</foreach>
			) inner_view
	 </insert>
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getPortfolio"	parameterType="map"	resultMap="portfolioSelectMap">
		<!-- SELECT
		port_no, port_user_id, port_division, port_title, port_regdate, port_update, port_file, port_detail, port_viewcount	
		FROM portfolio
		WHERE port_no = #{portNo} -->
		
		
		SELECT p.port_no, p.port_user_id, p.port_division, p.port_title, p.port_regdate, p.port_update, p.port_file, p.port_detail, p.port_viewcount, p.port_like_count, p.port_com_count, s.scrap_no, l.port_like_no, l.port_no
		FROM portfolio p,
			(SELECT port_like_no, port_no, user_id FROM port_like WHERE user_id=#{sessionUserId}) l, 
			(SELECT scrap_no, port_no FROM scrap WHERE user_id=#{sessionUserId}) s
		WHERE p.port_no=s.port_no(+) AND p.port_no=l.port_no(+) AND p.port_no=#{portNo} 
	 </select>

	 <select  id="getPortfolioList" parameterType="map" resultMap="portfolioSelectMap">

		SELECT*
		FROM
		(SELECT inner_table.*, users.user_img, users.user_id, ROWNUM AS row_seq
			FROM 
			(SELECT p.port_no, p.port_user_id, p.port_division, p.port_title, p.port_regdate, p.port_update, p.port_file, p.port_viewcount, p.port_like_count, p.port_com_count, a.scrap_no
			     	FROM portfolio p, (select * from scrap where user_id=#{sessionUserId}) a
				    <where>
				        p.port_no=a.port_no(+) AND
				        
				        <if test="search.postDivision == 1">
					       p.port_division IN (10,11,12)   
					    </if>   
					    <if test="search.postDivision == 2">
					       p.port_division IN (20,21,22)   
					    </if>
					    <if test="search.postDivision != 1 and search.postDivision != 2">
					       p.port_division = #{search.postDivision}
					    </if>   
			
					</where>
				  	
				  	<if test="search.postSorting == 1 or search.postSorting == 0">
				  	ORDER BY p.port_viewcount DESC NULLS LAST
				  	</if>
				  	
				  	<if test="search.postSorting == 2">
				  	ORDER BY p.port_regdate DESC NULLS LAST
				  	</if>
				  	
				  	<if test="search.postSorting == 3">
				  	ORDER BY p.port_like_count DESC NULLS LAST
				  	</if>
				  	
				  	) inner_table, users
			WHERE users.user_id=inner_table.port_user_id)
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum}

	 </select>
	 
	 
	<select  id="getProfilePortList" parameterType="map" resultMap="portfolioSelectMap">
		
		SELECT  p.port_no, p.port_user_id, p.port_division, p.port_title, p.port_regdate, p.port_update, p.port_file, p.port_viewcount, p.port_like_count, p.port_com_count, a.scrap_no,users.user_img, users.user_id
		FROM    portfolio p , (SELECT * FROM scrap WHERE user_id=#{sessionUserId} AND proj_no is null)a , users
		WHERE   p.port_user_id =#{profileUserId} AND p.port_no = a.port_no(+) AND users.user_id=#{profileUserId}
		
	</select>
	
	<select  id="getProfilePortScrapList" parameterType="map" resultMap="portfolioSelectMap">
		
		SELECT  p.port_no, p.port_user_id, p.port_division, p.port_title, p.port_regdate, p.port_update, p.port_file, p.port_viewcount, p.port_like_count, p.port_com_count, a.scrap_no,users.user_img, users.user_id
		FROM    portfolio p , (SELECT * FROM scrap WHERE user_id=#{sessionUserId} AND proj_no is null)a , users
		WHERE   p.port_no = a.port_no(+)AND users.user_id=p.port_user_id AND a.user_id=#{profileUserId}
		
	</select>
	 
	<!-- SQL : INSERT -->
	<update 	id="updatePortfolio"		parameterType="portfolio" >
	 	UPDATE portfolio
		<set>
		port_division=#{portDivision}, 
		port_title=#{portTitle},
		port_update=SYSDATE,
		port_file=#{portFile}, 
		port_detail=#{portDetail}
		</set>
		WHERE port_no=#{portNo}
	</update>
	
	<update 	id="updatePortCount"		parameterType="portfolio" >
	 	UPDATE portfolio
		<set>
		<if test="portViewFlag == true">
			port_viewcount=#{totalPortView},	
		</if>	
		<if test="portLikeFlag == true">	 
			port_like_count=#{totalPortLike},
		</if> 
		<if test="totalPortComment != 0">
			port_com_count=#{totalPortComment},	
		</if>	
		</set>
		WHERE port_no=#{portNo}
	</update>
	
	<delete id="deletePortfolio" parameterType="int">
		DELETE from portfolio
		WHERE port_no = #{value}
	</delete>
	
	<insert 	id="addComment"		parameterType="portComment" >
	 	INSERT INTO 
	 	port_comment( com_no , com_port_no , com_user_id , com_port_regdate , com_port_content) 
		VALUES	 (	seq_port_comment_com_no.nextVal, 
		#{comPortNo}, 
		#{comUserId}, 
		SYSDATE, 
		#{comContent})
		<selectKey keyProperty="comNo" resultType="Integer" order="AFTER">
        SELECT seq_port_comment_com_no.currval FROM dual
    	</selectKey>
	 </insert>
	 
	<select  id="getComment"  parameterType="int"	resultMap="commentSelectMap">
		SELECT c.com_no, c.com_port_no, c.com_user_id, c.com_port_regdate, c.com_port_content, u.user_id, u.user_img
		FROM port_comment c, users u 
		WHERE c.com_no = #{comNo} 
		AND u.user_id = c.com_user_id
	</select>
	 
 

	<delete id="deleteComment" parameterType="int">
		DELETE from port_comment
		where com_no = #{value}
	</delete>
	 
	 
	<select  id="getCommentList"  parameterType="int"	resultMap="commentSelectMap">

		SELECT c.com_no, c.com_port_no, c.com_user_id, c.com_port_regdate, c.com_port_content, u.user_id, u.user_img
		FROM port_comment c, users u 
		WHERE c.com_port_no = #{comPortNo} 
		AND u.user_id = c.com_user_id
		ORDER BY com_port_regdate DESC
		
	</select>
	
	<insert 	id="addPortLike"		parameterType="portLike" >
	 	INSERT INTO 
	 	port_like(port_like_no , port_no , user_id) 
		VALUES	 (seq_port_like_port_like_no.nextVal, 
		#{portNo}, 
		#{userId})
		
		<!--<selectKey keyProperty="comNo" resultType="Integer" order="AFTER">
        SELECT seq_port_comment_com_no.currval FROM dual
    	</selectKey> -->
	 </insert>
	 
	 <delete id="deletePortLike" parameterType="int">
		DELETE from port_like
		where port_like_no = #{value}
	 </delete>
	 
</mapper>