<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProjectMapper">
 	
 	
	<resultMap id="projectSelectMap" type="project">
		<result property="projNo" 			column="proj_no" 			jdbcType="NUMERIC"/>
		<result property="projUserId"		column="proj_user_id" 		jdbcType="VARCHAR" />
		<result property="projDivision" 	column="proj_division" 		jdbcType="NUMERIC" />
		<result property="projTitle" 		column="proj_title" 		jdbcType="VARCHAR" />
		<result property="projAnnoStart" 	column="proj_annostart" 	jdbcType="DATE" />
		<result property="projAnnoEnd" 		column="proj_annoend" 		jdbcType="DATE" />
		<result property="projStartDate" 	column="proj_startdate" 	jdbcType="DATE" />
		<result property="projEndDate" 		column="proj_enddate" 		jdbcType="DATE"  />
		<result property="projLocation" 	column="proj_location" 		jdbcType="VARCHAR" />
		<result property="projDetail" 		column="proj_detail" 		jdbcType="VARCHAR" />
		<result property="projViewcount" 	column="proj_viewcount" 	jdbcType="NUMERIC" />
		<result property="projExpectDate" 	column="proj_expectdate" 	jdbcType="NUMERIC" />
		<result property="projDday" 		column="proj_dday" 			jdbcType="NUMERIC" />
		<result property="scrapUserId" 		column="user_id" 			jdbcType="VARCHAR" />
		<result property="scrapNo" 			column="scrap_no" 			jdbcType="NUMERIC" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addProject"		parameterType="project" >
	 	INSERT 
		INTO project ( proj_no, proj_user_id, proj_division, proj_title, proj_annostart, proj_annoend, proj_startdate, proj_enddate, proj_location, proj_detail, proj_viewcount) 
		VALUES ( seq_project_proj_no.nextval, 
		'com02', 
		#{projDivision:NUMERIC}, 
		#{projTitle:VARCHAR}, 
		SYSDATE, 
		#{projAnnoEnd:DATE},
		#{projStartDate:DATE}, 
		#{projEndDate:DATE},
		#{projLocation:VARCHAR}, 
		#{projDetail:VARCHAR}, 
		0)
	 </insert>
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getProject"	parameterType="map"	resultMap="projectSelectMap">
	SELECT p.proj_no, p.proj_user_id, p.proj_division, p.proj_title, p.proj_annostart, p.proj_annoend, p.proj_startdate, p.proj_enddate, p.proj_location,p.proj_detail, p.proj_viewcount,
	round((TO_DATE(concat(p.proj_enddate,'235959'),'YYYY-MM-DD HH24:MI:SS')-TO_DATE(p.proj_startdate,'YYYY-MM-DD HH24:MI:SS'))) as proj_expectdate,
	round((TO_DATE(concat(p.proj_annoend,'235959'),'YYYY-MM-DD HH24:MI:SS')-TO_DATE(p.proj_annostart,'YYYY-MM-DD HH24:MI:SS'))) as proj_dday, a.scrap_no	
	FROM project p , (SELECT * FROM scrap WHERE user_id=#{scrapUserId:VARCHAR}) a
	WHERE p.proj_no=a.proj_no(+) AND p.proj_no=#{projNo}
	
	 </select>
	 
	 <select  id="listProject"  parameterType="String"	resultMap="projectSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* <!-- , ROWNUM AS row_seq -->
	  			FROM( SELECT p.proj_no, p.proj_user_id, p.proj_division, p.proj_title, p.proj_annostart, p.proj_annoend, p.proj_startdate, p.proj_enddate, p.proj_location, p.proj_detail, p.proj_viewcount,
							 round((TO_DATE(concat(p.proj_enddate,'235959'),'YYYY-MM-DD HH24:MI:SS')-TO_DATE(p.proj_startdate,'YYYY-MM-DD HH24:MI:SS'))) as proj_expectdate,
							 round((TO_DATE(concat(p.proj_annoend,'235959'),'YYYY-MM-DD HH24:MI:SS')-TO_DATE(p.proj_annostart,'YYYY-MM-DD HH24:MI:SS'))) as proj_dday, a.scrap_no	
					  FROM project p , (SELECT scrap_no, proj_no FROM scrap WHERE user_id=#{scrapUserId}) a
					 <where>
					 p.proj_no=a.proj_no(+) 
						 <!-- <if test="searchCondition != null">
						 	<if test="searchCondition == 0 and searchKeyword !='' ">
						 		AND proj_title like '%' || #{searchKeyword} ||'%'
						 	</if>
					    	<if test="searchCondition == 1 and searchKeyword !='' ">
							    AND proj_location like '%' || #{searchKeyword} ||'%'
							</if>
						</if>  -->
					 </where>
											
										<!-- 	GROUP BY p.prod_name, p.prod_no, p.prod_detail, 
											p.manufacture_day, p.price, p.image_file, p.reg_date, 
											tran_status_code, p.tran_prod_stock ORDER BY prod_no --> ) inner_table)
						<!-- WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}  -->
	 </select>
	 
	 <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT proj_no, proj_user_id, proj_division, proj_title, proj_annostart, proj_annoend, proj_startdate, proj_enddate, proj_location, proj_detail, proj_viewcount
						FROM project
						<if test="searchCondition != null">
							<where>
								<if test="searchCondition == 0 and searchKeyword !='' ">
									proj_title = #{searchKeyword}
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
									proj_location = #{searchKeyword}
								</if>
							</where>
						</if> ) countTable						
	 </select>
	 
	 
	 
	 
	 
	 
	 
	 <update	id="updateProject"	parameterType="project" >
	   	UPDATE project
	   	<set>
	   		proj_division	=	#{projDivision:NUMERIC}, 
	   		proj_title		=	#{projTitle:VARCHAR}, 
	   		proj_annoend	=	#{projAnnoEnd:DATE}, 
	   		proj_startdate	=	#{projStartDate:DATE}, 
	   		proj_enddate	=	#{projEndDate:DATE},
	   		proj_location   =   #{projLocation:VARCHAR}, 
	   		proj_detail		=	#{projDetail:VARCHAR}
	   	</set>
	   	WHERE proj_no = #{projNo}
	 </update>
	 <!-- <select  id="listProject" resultMap="projectSelectMap">
	  	
	 </select> -->
	 <delete id="deleteProject" parameterType="project">
		DELETE from project
		where proj_no=#{projNo}
	 </delete>
	 
	 
	
	 
</mapper>